:root {
    --intro_max_height: 800px;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.dashed {
    border: dashed;
}

.hide {
    display: none;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro_container {
    height: 100vh;
    width: 100vw;
    max-height: var(--intro_max_height);
    position: fixed;
    background-color: rgb(0, 0, 0);
    z-index: -10;
    color: white;
}

#intro_msg {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 5%;
}

#intro_msg_box {
    padding: 30px;
    border: solid;
}

#intro_image {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    max-height: var(--intro_max_height);
    background:
        linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)),
        url("../assets/dummy.jpg") right/cover;
}

#intro_margin_container {
    height: 100vh;
    max-height: var(--intro_max_height);
}

#content_container {
    background-color: white;
}

#content_box {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    border: dashed;
}

.introduction_icon {
    height: 23px;
}

#ability_set {
    border:dashed;
    display: flex;
    justify-content: center;
}

#footer {
    background-color: black;
    height: 200px;
    color: white;
}

#footer_content_container {
    display: flex;
}

#footer_vertical_line {
    width: 3px;
    margin: 0 30px;
    background-color: white;
}

#footer_link_box {
    display: flex;
    mix-blend-mode: difference;
    text-align: center;
}
.footer_link_icon_package {
    width: 100px;
}

.footer_link_icon {
    height: 30px;
}